/* css default */
* {
    font-family: cursive;
    margin: 0;
    padding: 0;
}
/* header styles */
header div{
    text-align: center;
    background-color: red;
    padding: 20px;
}
header div h1.main-heading {
    color: white;
    border: solid white 4px;
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
}
header div.navbar {
    background-color: grey;
}
header div a.navbar-link {
    color: white;
    margin: 0px 120px;
    text-decoration: none;
}
/* main styles */
main img.Mario-pic {
    width: 100%;
    border-bottom: red 8px solid;
}
main div.main-content{
    margin: 30px 60px;
}
main div.main-content h1 {
    text-align: center;
    color: red;
}
main div.main-content p {
    text-align: justify;
    font-size: 30px;
    line-height: 60px;
}
/* footer styles */
footer h5 {
    background-color: grey;
    text-align: center;
    padding: 15px;
    color: white;
}
/* Gallery Styles */
main h3 {
    color: red;
    font-size: 50px;
    text-align: center;
}
main div.Gallery-images img {
    text-align: center;
    border-bottom: red 8px solid;
    margin: 10px;
}
main div.Gallery-images{
    text-align: center;
}
/* Friends Styles */
main img.Mario_friends {
    width: 100%;
}
main div.Main-content h1 {
    text-align: center;
    color: red;
}
main div.Main-content p {
    text-align: center;
}
main div.Friends-container {
    background-color: lightgray;
    text-align: center;
    margin: 135px; 
    border-radius: 30px;
    padding: auto;
}
main div.Friends-container h1{
    color: red;
}
main div.Friend-item {
     margin: 30px 120px; 
    padding: auto;
}
